    header {
        background-color: #c1e7f7;
        color: #253d55;
        text-align: center;
        font-weight: bold;
    }
    h2 {
        background-color: #c1e7f7;
        color: #008080 ;
     }
    body{
        background-color: #c1e7f7;
        color: black ;
    }
    footer {
        background-color: rgb(2, 99, 163);
        color: white;
        border: blue;
        padding: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 20PX;
     }
    div {
        width: auto;
        height: auto;
        padding: 5px;
        border: 5px solid rgb(255, 255, 255);
        margin: auto;
        text-align: center;
     }
     iframe {
        border: 5px solid rgb(216, 208, 96);
        margin: auto;
        text-align: center;

     }