.header {
    padding: 60px;
    text-align: center;
    background: black;
    color: white;
  }

.footer {
    text-align: center;
    padding: 30px;
    background: rgb(218, 218, 199);
    color: white;
}
.cuerpo {
    padding: 500px;
    background-color: white;
}